/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 12px 24px;
  background-color: #5757b4;
} */
.appBar {
  background-color: #5757b4;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 24px;
  padding: 12px 24px;
  background-color: #5757b4;
}
