.container {
  border: 2px solid aliceblue;
  border-radius: 4px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.data {
  display: flex;
  flex: 1 1 calc(25% - 24px);
  flex-direction: column;
  gap: 4px;
  margin: 4px;
  text-align: start;
}
.text {
  margin: 0;
  color: aliceblue;
}
.btn {
  background-color: #5757b4;
  color: aliceblue;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  margin: 0 auto;
}
.btn:hover {
  background-color: #2d2d70;
  box-shadow: 0 0 8px rgba(255, 255, 0, 0.5);
}
