.wraper {
  margin: 0;
  padding: 64px;

  background-color: rgb(38, 123, 163);
  min-height: 100vh;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.picture {
  width: 600px;
  margin-right: 20px;
  border-radius: 8px;
}
.text {
  color: aliceblue;
  font-size: larger;
  text-align: justify;
}
.title {
  color: aliceblue;
  margin-bottom: 24px;
}
.emoji {
  font-size: 100px;
}
